* {
    margin: 0;
    padding: 0;
}
.container {
    width: 1200px;
    margin: 0 auto;
}
.nav-box {
    display: flex;
    justify-content: space-between;
    padding: 10px;
    border: 5px solid rgb(0, 191, 255) ;
}
.nav-logo {
    font-size: 32px;
    font-weight: bolder;
    margin-left: 50px;
}
.nav-box-items {
    text-decoration: none;
    font-size: 18px;
    margin-left: 20px;
    color: #333;
}
.nav-box-number {
    border-radius: 5px ;
    padding: 5px;
    background-color: rgb(0, 191, 255);
}
.head-body {
    display: flex;
    justify-content: space-around;
    margin-top: 100px;
}
.head-body-title {
    font-weight: bold;
    font-size: 24px;
    margin-bottom: 20px;
}
.head-body-article {
    width: 400px;
    margin-bottom: 20px;

}
.head-body-button {
    text-decoration: none;
    border-radius: 5px;
    background-color: rgb(0, 191, 255);
    padding: 5px;
}
.head-body1 {
    margin-top: 70px;
}
.head-body-img-box {
    width: 400px;
    height: 300px;
    background-image: url(./img/1-rasm.png);
    background-size: contain;
    position: relative;
}
.head-body-img {
    position: absolute;
    top: 100px;
    left: 150px;
}



/* end of the head  */

/* start of the main  */
.hero1 {
    margin-top: 100px;
    text-align: center;
}
.hero1-title {
    font-size: 28px;
    font-weight: bold;
}
.hero1-article {
    width: 500px;
    margin: auto;
    margin-top: 20px;
}
.hero1-body {
    display: flex;
    list-style-type: none;
    /* flex-wrap: wrap; */
    padding: 20px;
}

.hero1-body-item {
    margin: 0 auto;
    box-shadow: 0 0 10px ;
    padding: 20px;
}
.box {
    margin: ;
    margin-bottom: 50px;
}
.hero1-body-title {
    font-weight: bold;
    margin-bottom: 5px;
}
.hero1-body-button {
    border-radius: 5px;
    background-color: rgb(0, 191, 255);
    padding: 5px;
    text-decoration: none;
}

/* end of hero1  */

/* start of hero2 */
.hero2 {
    text-align: center;
    margin-top: 100px;
}
.hero2-title {
    font-weight: bold;
    font-size: 28px;
    margin-bottom: 10px;
}
.hero2-article {
    width: 500px;
    margin: auto;
}
.hero2-body {
    list-style-type: none;
    margin-top: 10px;
}
.hero2-body-item {
    display: flex;
    margin-top: 20px;
    justify-content: space-around;
    margin-bottom: 50px;
}
.hero2-body-title {
    font-weight: bold;
    margin-bottom: 5px;
    margin-top: 100px;
}
.hero2-body-article {
    width: 500px;
    margin-top: 10px;
}
.hero2-button {
    margin-top: 30px;
    border-radius: 5px;
    padding: 5px;
    background-color: rgb(0, 191, 255);
    text-decoration: none;
    color: #333;
}
/* end of hero2  */

/* start if hero3  */
.hero3 {
    text-align: center;
    margin-top: 100px;
    background-color: rgb(0, 191, 255); 
    padding-top: 20px;
    height: auto;
    padding-bottom: 30px;
}
.hero3-title {
    font-weight: bold;
    font-size: 28px;
    margin-bottom: 10px;
    
}
.hero3-article {
    width: 500px;
    margin: auto;

}
.hero3-body {
    display: flex;
    flex-direction: column;
    background-color: #fff;
    width: 300px;
    margin: auto;
    padding: 20px;
    margin-top: 30px;
}
.textbox {
    width: 200px;
    margin: auto;
    margin-bottom: 10px;
}
.hero3-button {
    margin-top: 30px;
    border-radius: 5px;
    padding: 5px;
    background-color: rgb(0, 191, 255);
    text-decoration: none;
    color: #333;
}

/* end of hero3  */


/* start of footer  */
.footer {
    width: 1200px;
    background-color: black;
    display: flex;
    justify-content: space-around;
    padding: 50px 0;
    color: #fff;
}
.footer1-title {
    font-weight: bold;
    font-size: 20px;
    margin-bottom: 10px;
}
.footer1-article {
    width: 300px;
    margin: auto;
}
.footer2-title {
    font-weight: bold;
    font-size: 20px;
    margin-bottom: 10px;
}
.footer2 > span {
    display: block;
    margin-top: 10px;
}
.footer3-title {
    font-weight: bold;
    font-size: 20px;
    margin-bottom: 10px;
}
.footer3 > section {
    margin-bottom: 10px;
}

/* end of css  */